.info-block-button,
.gallery-button,
.next-button,
.again-button {
    width: 150px;
    height: 40px;
    text-decoration: none;
    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #034e4e;
    border: 1px solid #034e4e;
    border-bottom: 4px solid #034e4e;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#dee5e6), to(#96cece));
    background: gradient(top,  #dee5e6,  #96cece);
    box-shadow: inset 1px 1px 0 #034e4e;
    cursor: pointer;
    margin: 10px 0;
}

.gallery-button {
    position: absolute;
    width: 80%;
    height: 200px;
    border: 1px solid #487fe3;
    border-bottom: 4px solid #487fe3;
    border-radius: 50%;
    box-shadow: inset 1px 1px 0 #487fe3;
    top: 15px;
    right: 25px;
}

.info-block-button:hover,
.gallery-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#96cece), to(#dee5e6));
    background: gradient(top,  #96cece,  #dee5e6);
}

.info-block-button:active,
.gallery-button:active {
    border: none;
    bottom: -4px;
}

.next-button {
    width: 100%;
    border: 1px solid #0078c9;
    border-bottom: 4px solid #0078c9;
    background: -webkit-gradient(linear, left top, left bottom, from(#dee5e6), to(#0078c9));
    background: gradient(top,  #dee5e6,  #0078c9);
    box-shadow: inset 1px 1px 0 #0078c9;
    color: #b9bbbc;
    cursor: default;
    margin: 0;
}

.next-active {
    color: #014675;
    cursor: pointer;
}

.next-active:hover,
.again-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#96cece), to(#dee5e6));
    background: gradient(top,  #96cece,  #dee5e6);
}

.next-active:active,
.again-button:active {
    border: none;
    bottom: -4px;
}

.player-button {
    width: 64px;
    height: 64px;
    background: url(../../assets/icons/play.svg);
    margin: 25px 10px 0 0;
    border-radius: 50%;
    cursor: pointer;
}

.player-button:hover {
    background-color: #5894ee;
}

.pause {
    background: url(../../assets/icons/pause.svg);
}

.sound-button {
    width: 32px;
    height: 32px;
    background: url(../../assets/icons/sound-on-icon.svg);
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.sound-button:hover {
    background-color: #5894ee;
}

.sound-off {
    background: url(../../assets/icons/sound-off-icon.svg);
}

.card-player-button {
    width: 64px;
    height: 64px;
    background: url(../../assets/icons/play.svg);
    margin: 25px 10px 0 0;
    border-radius: 50%;
    cursor: pointer;
}

.card-player-button:hover {
    background-color: #5894ee;
}

.card-pause {
    background: url(../../assets/icons/pause.svg);
}

.card-sound-button {
    width: 32px;
    height: 32px;
    background: url(../../assets/icons/sound-on-icon.svg);
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.card-sound-button:hover {
    background-color: #5894ee;
}

.card-sound-off {
    background: url(../../assets/icons/sound-off-icon.svg);
}

.again-button {
    width: 100%;
    border: 1px solid #0078c9;
    border-bottom: 4px solid #0078c9;
    background: -webkit-gradient(linear, left top, left bottom, from(#dee5e6), to(#0078c9));
    background: gradient(top,  #dee5e6,  #0078c9);
    box-shadow: inset 1px 1px 0 #0078c9;
    color: #014675;
    cursor: pointer;
    margin: 40px 0 0 0;
    padding: 5px;
    font-size: 24px;
}