body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    height: 100vh;
    background: url(../../assets/img/birds-picture-right.jpg) center no-repeat;
    background-size: cover;
}