body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    height: 100vh;
    background: url(../../assets/img/birds-picture-right.jpg) center no-repeat;
    background-size: cover;
}

.gallery-body {
    height: auto;
    background: none;
    background-color: #cee4f3;
}

@media (max-width: 800px) {

    body {
        background: url(../../assets/icons/flying-feathers.png) center no-repeat;
        background-color: #cee4f3;
    }
}